@import '../../sass/variables.scss';

#home-page {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $gap-3;
  .map-data-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $gap-1;
    border: 4px solid $secondary-color;
    border-radius: 1rem;
    .map-data-view {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      height: 90vh;
      width: 90vw;
      .left-view {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .right-view {
        height: 100%;
        background-color: white;
        width: 25vw;
        padding: $gap-default;
        box-shadow: -30px 0px 20px -60px rgba(255,255,255,0.45);
      }
    }
  }
}
